Member List
<button mat-raised-button color="primary" (click)="openDialog()">Add Member</button>
<mat-card class="example-card" *ngFor="let employee of employees; let i=index;">
    <mat-card-header>
        <mat-card-title>{{i+1}}. {{employee.name}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>{{employee.eid}}</p>
        <p [hidden]="employee.toggle">{{employee.role}}</p>
        <button mat-raised-button (click)="employee.togglerole=!employee.togglerole">Toggle Role</button>
    </mat-card-content>
</mat-card>